#user-menu-dropdown {
    opacity: 0;
  }
  
  #user-menu:focus ~ #user-menu-dropdown {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 100ms;
    opacity: 1;
  }
