#user-menu-dropdown {
    max-height: 100px;
    overflow-y: auto;
}

@media (max-width: 330px) {
    .logo{
        display: none;
    }
}

@media (min-width: 330px) {
 .logo{
    display: block;
 }
}