<div *ngIf="loading$ | async">LOADING</div>
<div *ngIf="error$ | async">Eroor</div>

<ng-container *ngIf="books$ | async as books">
  <div class="flex flex-wrap items-center justify-center mt-10 w-screen">
    <app-book
      *ngFor="
        let book of books | slice : page * pageSize : page * pageSize + pageSize
      "
      [book]="book"
    />
  </div>
  <div *ngIf="books.length" class="flex justify-center w-screen">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="books.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </div>
</ng-container>
