<div
  class="relative flex-shrink-0 flex flex-col justify-between size-[18rem] max-w-xs mx-2 mb-6 overflow-hidden bg-gray-800 rounded-lg shadow-lg cursor-pointer"
  (click)="toBookDetails()"
>
  <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none">
    <rect
      x="159.52"
      y="175"
      width="152"
      height="152"
      rx="8"
      transform="rotate(-45 159.52 175)"
      fill="#E4E4E4"
    ></rect>
    <rect
      y="107.48"
      width="152"
      height="152"
      rx="8"
      transform="rotate(-45 0 107.48)"
      fill="#E4E4E4"
    ></rect>
  </svg>
  <div class="relative flex items-center justify-center pt-10">
    <div class="absolute bottom-0 left-0 block w-48 h-48 ml-3 -mb-24"></div>
    <img
      class="relative w-40 rounded max-w-[140px] max-h-[140px]"
      [src]="book.coverPath"
    />
  </div>
  <div class="relative px-6 pb-6 mt-6 text-white">
    <div class="flex justify-between">
      <span class="block text-base font-semibold px-1">
        {{ book.title }}
      </span>
      <span
        (click)="borrow($event)"
        class="flex items-center h-[25px] px-3 py-2 text-xs font-bold leading-none hover:text-gray-800 border hover:border-gray-800/50 hover:bg-white bg-gray-800 text-white border-white rounded"
      >
        Borrow
      </span>
    </div>
  </div>
  <app-borrow-request
    *ngIf="show"
    (onDismiss)="showModal()"
    [bookId]="book.id"
  />
</div>
