<div class="w-96 mx-auto">
  <div class="bg-white rounded px-8">
    <h2 class="text-2xl font-semibold mb-5">
      {{ "update-user.title" | translate }}
    </h2>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
        {{ "update-user.status" | translate }}
      </label>
      <select
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="status"
        [(ngModel)]="newUserValue.active"
      >
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>
    <p *ngIf="confirmUpdate && !waiting && error">{{ error }}</p>
    <div class="flex items-center justify-between">
      <app-dynamic-button
        [isDisabled]="user.active == newUserValue.active"
        [label]="'Update'"
        [waitingLabel]="'Updating...'"
        [isWaiting]="waiting"
        (clicked)="updateUser()"
      />
    </div>
  </div>
</div>
